<%
if params[:input]
  @lines = params[:input].split("\n\n")
  @output = @lines.map do |entry|
    JSON.pretty_generate(
      ParserService.new(entry).process
    )
  end
end
%>
<form method="POST" action="">
  <textarea name="input" rows="15" cols="60"><%= params[:input] %></textarea>
  <button>Submit</button>
</form>

<% if @output %>
  <pre><code><%= @output.join("\n") %></code></pre>
<% end %>