<%
@lines = File.read(File.dirname(__FILE__) + "/syntactic_sample_input.md").split("\n\n")
@output = @lines.map do |entry|
  JSON.pretty_generate(
    ParserService.new(entry).process
  )
end
%>
<pre><code><%= @output.join("\n") %></code></pre>